@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceCodePro-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceCodePro-Regular.ttf);
  font-weight: 400;
}

// @font-face {
//   font-family: "Montserrat";
//   src: url(../fonts/Montserrat-Medium.ttf);
//   font-weight: 500;
// }

// @font-face {
//   font-family: "Montserrat";
//   src: url(../fonts/Montserrat-SemiBold.ttf);
//   font-weight: 600;
// }


// @font-face {
//   font-family: "Lora";
//   src: url(../fonts/Lora-Regular.ttf);
//   font-weight: 400;
// }

// @font-face {
//   font-family: "Lora";
//   src: url(../fonts/Lora-Medium.ttf);
//   font-weight: 500;
// }
