  $brand-colors-brand-color: #9333ea;
  $brand-colors-brand-color-light: #a855f7;
  $neutral-colors-gray-900: #111827;
  $neutral-colors-gray-800: #1f2937;
  $neutral-colors-gray-700: #374151;
  // $neutral-colors-gray-600: #4b5563;
  // $neutral-colors-gray-500: #6b7280;
  $neutral-colors-gray-400: #9ca3af;
  $neutral-colors-gray-300: #d1d5db;
  $neutral-colors-gray-200: #e5e7eb;
  $neutral-colors-gray-100: #f3f4f6;
  $neutral-colors-gray-50: #f9fafb;
  $status-colors-status-success: #6ee7b7;
  $status-colors-status-error: #fb7185;

  $font-family: "Source Sans Pro", sans-serif;
